<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,
            
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>
       URL Shortner
    </h1>
    <div>
        <form>
            <label>
                Enter Your URL 
            </label>
            <input type="text"name="redirectURL" placeholder="https://emaple.com"/>
            <button type="submit">Gen</button>
        </form>
    </div>
   
    
</body>
</html>